---
# tasks file for ansible-role-libre-speedtest

- name: "Download Libre-Speedtest CLI install package locally"
  get_url:
    url: "{{ download_url }}"
    dest: "/tmp/{{ package }}"
    mode: '0644'
  delegate_to: 127.0.0.1

- name: "Copy the Libre-Speedtest CLI install package to {{ inventory_hostname }}"
  copy:
    src: "/tmp/{{ package }}"
    dest: /root/
    mode: '0644'

- name: "Extract the Libre-Speedtest CLI install package"
  shell: tar -xzf /root/{{ package }} --directory /bin
  args:
    warn: false

- name: "Cleanup left-over files from Libre-Speedtest CLI install package"
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /bin/LICENSE
    - "/root/{{ package }}"
