---
# Prerequisite tasks file for ansible-role-libre-speedtest

- name: "Check if tar is installed"
  shell: command -v tar
  failed_when: false
  register: output

- name: "Install required packages (yum)"
  yum:
    name:
      - tar
    state: present
  when:
    - output.rc != 0
    - ansible_facts['pkg_mgr'] == 'yum'

- name: "Install required packages (dnf)"
  dnf:
    name:
      - tar
    state: present
  when:
    - output.rc != 0
    - ansible_facts['pkg_mgr'] == 'dnf'

- name: "Install required packages (apt)"
  apt:
    name:
      - tar
    state: present
  when:
    - output.rc != 0
    - ansible_facts['pkg_mgr'] == 'apt'
