---
# Speedtest tasks file for ansible-role-libre-speedtest

- name: "Perform a speedtest"
  shell: librespeed-cli --json
  register: output
  no_log: true

- name: "Parse JSON from the stdout of output"
  set_fact:
    results: "{{ output.stdout | from_json }}"
  no_log: true

- name: "Set Bandwidth facts"
  set_fact:
    download_mbps: "{{ results[0].download }}"
    upload_mbps: "{{ results[0].upload }}"
  when:
    - output.stdout != ''
